.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data {
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}