.sidebar {
    height: 100%;
    border-right: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    gap: 70%;
}

.menu {
    padding: 8px;
}

.prof {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collection {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.add {
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 7px;
}